@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: rgb(173, 172, 172);
}
::-webkit-scrollbar-thumb:horizontal{
    background: #605f5f;
    border-radius: 10px;
}